.arrow,
.arrow:before {
    position: absolute;
    right: 4%; /* Adjusted for bottom-right corner */
}
  
.arrow {
    width: 20px;
    height: 20px;
    bottom: 4%; /* Adjusted for bottom-right corner */
    transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
  
.arrow:before {
    content: '';
    width: 20px;
    height: 20px;
    bottom: 5%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}
  
@keyframes arrow {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(-10px, -10px);
    }
}