.turntable {
    width: 100%;
    height: 30vh;
}

.theCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: dashed rgb(255, 36, 146) 4px;
}

.theWorld {
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.sceneContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 20%;
    left: 0;
}

.theScene {
    height: 30vh;
    width: 80%;
    max-width: 600px;
}
