.turntable {
    width: 100%;
    height: 30vh;
}

.theCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: dashed rgb(255, 36, 146) 4px;
}

.theWorld {
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.sceneContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 20%;
    left: 0;
    align-items: center;
}

.theScene {
    border-radius: 16px;
    height: 30vh;
    width: 80%;
    max-width: 600px;
    /* border: solid red 2px; */
}

.expandedScene {
    border-radius: 16px;
    width: 100vw;
    height: 80vh;
    /* border: solid red 2px; */
}

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.instructions {
	/* border: solid red 2px; */
    padding-top: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}