@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);

@import 'defaults.css';
@import 'layout.css';
@import 'mainPane.css';

body {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 600;
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
	display: flex;
	text-align: center;
}

#webLogo {
    display: block;
    margin: auto;
    height: 15vh;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    pointer-events: none;
}

#navLinks {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    width: 70vw;
    min-width: 800px;
    /* below this amount, change view */
    justify-content: space-between;
    z-index: 1;
    margin-left: 2vw;
    border: solid yellow 2px;
}

.stateInfo {
    position: fixed;
	bottom: 200px;
	right: 0px;
}

