* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  display: flex;
  text-align: center;
}

.App {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  border: solid red 2px;
}

.tablet {
  border: solid blue 2px;
  height: 80%;
  width: 80%;
  background-color: black;
  z-index: -1;
}

#navLinks {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

#webLogo {
  display: block;
  margin: auto;
  height: 15vh;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}