@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);

@import 'defaults.css';
@import 'layout.css';
@import 'mainPane.css';

body {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 600;
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
	display: flex;
	text-align: center;
}

#webLogo {
    display: block;
    margin: auto;
    height: 15vh;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    pointer-events: none;
}

#navLinks {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    width: 70vw;
    min-width: 800px;
    /* below this amount, change view */
    justify-content: space-between;
    z-index: 1;
    margin-left: 2vw;
}

@media only screen and (max-width: 800px) {
    #navLinks {
      max-width: 100vw !important;
      font-size: 10px;
      flex-direction: column;
      align-items: start;
    }

    #webLogo {
        height: 7vh;
    }

    #chatWithBot {
        font-size: 3rem;
    }

    .gradHover {
        width: 350px;
        height: 350px;
    }

    .balls3D {
        position: absolute !important;
        top: 0px !important;
        left: 0px !important;
        transform: translate(100%, 50%);
    }

    .instructions {
        font-size: 13px;
    }
}

.stateInfo {
    position: fixed;
	bottom: 200px;
	right: 0px;
}
