.scrollButton {
    height: 250px;
}

#scrollSelect {
    position: absolute;
    bottom: 50px;
}

.speakerWindow {
    position: fixed;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    height: 40vh;
    border-radius: 16px;
    z-index: -1;
}

.navHover {
    color: transparent;
}

.navHover span {
    animation: animate 5s linear infinite;
    animation-delay: calc(0.1s * var(--i)) ;
}

@keyframes animate {
    0% {
        color: #fff;
        filter: hue-rotate(0deg);
        text-shadow: 
            0 0 20px #00b3ff,
            0 0 60px #00b3ff,
            0 0 120px #00b3ff,
            0 0 200px #00b3ff;
    }
    30%,70% {
        color: #fff;
        filter: hue-rotate(360deg);
        text-shadow: 
            0 0 20px #00b3ff,
            0 0 60px #00b3ff,
            0 0 120px #00b3ff,
            0 0 200px #00b3ff;
    }
    100% {
        color: transparent;
        box-shadow: none;
        /* filter: blur(1px) hue-rotate(0deg); */
    }
}

