@import './importedEffects/navHover.css';
@import './importedEffects/gradientHover.css';
@import './importedEffects/textSlider.css';
@import './importedEffects/glowCards.css';

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    border: 3px solid #ff00aac6;
    border-radius: 16px;
    background-color: rgb(19, 9, 46);
    box-shadow: 8px 8px 8px rgba(252, 251, 252, 0.5);
    padding: 40px;
    color: white;
}

#infoModal {
    width: 60vw;
}


/*character selection screen*/

.toggleCharButton {
    height: 250px;
}

#charSelect {
    position: absolute;
    bottom: 50px;
}

/* forms and buttons below! */

.formElement {
    margin-top: 10px;
}

.fixSize {
    font-size: 1.2rem !important;
}

.fixSize span {
    font-size: 1.2rem;
    font-weight: bold;
}

.fixSize.button {
    background-color: rgba(21, 21, 21, 0.35);
    color: white;
    position: fixed;
    bottom: 15px;
    /* top: 32.5vh; */
}

.fixSize.button.markAnthony {
    top: 30vh;
}

.fixSize.cohort {
    background-color: rgba(21,21,21, 0.35);
    color: white;
}

#formContainer {
    height: 100%;
    overflow-y: scroll;
}

@media only screen and (max-width: 800px) { 
    .theForm {
        scale: .8;
        position: relative !important;
        top: -80px !important;
        left: -10px !important;
    }
}
