@import './importedEffects/navHover.css';
@import './importedEffects/gradientHover.css';
@import './importedEffects/textSlider.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    border: 3px solid #ff00aac8;
    border-radius: 16px;
    background-color: rgb(19, 9, 46);
    box-shadow: 8px 8px 8px rgba(252, 251, 252, 0.5);
    padding: 40px;
    color: white;
}

.fixSize {
    font-size: 1.2rem !important;
}

.fixSize span {
    font-size: 1.2rem;
    font-weight: bold;
}

.fixSize.button {
    background-color: rgba(21, 21, 21, 0.35);
    color: white;
    position: absolute;
    top: 32.5vh;
}

.fixSize.cohort {
    background-color: rgba(21,21,21, 0.35);
    color: white;
}

.formElement {
    margin-top: 10px;
}

.chatWithMonster {
    position: relative;
    top: 12vh;
    color: white;
    text-decoration: none;
    opacity: 1;
    padding: 10px;
    font-size: 3.2rem;
    background-color: transparent;
    width: 80%;
    resize: none;
    border: none;
}

.chatWithMonster::placeholder {
    color: white;
}

.chatWithMonster:focus {
    border: none;
    box-shadow: none;
    outline: none;
}
