@import './importedEffects/navHover.css';
@import './importedEffects/gradientHover.css';
@import './importedEffects/textSlider.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    border: 3px solid #ff00aac8;
    border-radius: 16px;
    background-color: rgb(19, 9, 46);
    box-shadow: 8px 8px 8px rgba(252, 251, 252, 0.5);
    padding: 40px;
    color: white;
}

.fixSize {
    font-size: 1.2rem !important;
}

.fixSize span {
    font-size: 1.2rem;
    font-weight: bold;
}

.formElement {
    margin-top: 10px;
}