.tablet {
    padding-top: 8%;
    border: solid gold 2px;
    height: 80%;
    width: 80%;
}

#navLinks {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

#webLogo {
    display: block;
    margin: auto;
    height: 15vh;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    pointer-events: none;
}

#navLinks {
    display: flex;
    width: 70vw;
    justify-content: space-between;
    z-index: 1;
    margin-left: 2vw;
}

.page {
    font-weight: 100;
    width: 80%;
    min-width: 600px;
    margin: auto;
    margin-top: 10%;
    display: flex;
    justify-content: center;
}