.speakerWindow {
    position: fixed;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    height: 40vh;
    border-radius: 16px;
}

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.putBehind {
    z-index: -1;
}

.darken {
    background: rgba(0, 0, 0, 0.713);
}

.pageInSpeakerWindow {
    font-weight: 100;
    width: 80%;
    min-width: 100%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    position: relative;
}



.centerOnPage {
    justify-content: center;
}

.align {
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.aroundOnPage {
    justify-content: space-around;
    flex-wrap: wrap;
}

.scrollButton {
    height: 250px;
}

#scrollSelect {
    position: absolute;
    bottom: 50px;
}

.marquee {
    -webkit-mask-image: linear-gradient(to left, transparent, black 5%, black 95%, transparent);
    mask-image: linear-gradient(to left, transparent, black 5%, black 95%, transparent);
    width: 98%;
}

.super {
    z-index: 1;
    position: absolute;
    top: -30px;
    border: solid white 2px;
    padding: 5px 10px;
    border-radius: 16px;
    background: rgba(21, 21, 21, 0.65);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgba(21, 21, 21, 0.3);
}

.showCohort {
    width: 600px;
    height: 400px;
}

.coaching {
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 75%;
}

#cohortGif {
    width: 50%;
    border-radius: 5px;
    border: solid rgba(255, 255, 255, 0.263);
    box-shadow: 0 0 20px 15px #ff009d;
}