@import './importedEffects/arrow.css';

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.putBehind {
    z-index: -1;
}

.darken {
    background: rgba(0, 0, 0, 0.713);
}

.pageInSpeakerWindow {
    font-weight: 100;
    width: 100%;
    margin: auto;
    margin-top: 5%;
    position: relative;
}

.centerOnPage {
    display: flex;
    justify-content: center;
}

.align {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 60%;
}

.aroundOnPage {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.staticPage {
    display: block;
    /* flex-direction: column;
    align-items: start; */
    text-align: start;
    width: 90%;
    padding: 5%;
    font-size: 3vw;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.713);
}

.cohortSelect {
    margin: 20px;
}