@import './importedEffects/arrow.css';

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.putBehind {
    z-index: -1;
}

.darken {
    background: rgba(0, 0, 0, 0.713);
}

.pageInSpeakerWindow {
    font-weight: 100;
    width: 100%;
    margin: auto;
    margin-top: 5%;
    position: relative;
}

.centerOnPage {
    display: flex;
    justify-content: center;
}

.align {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 60%;
}

.aroundOnPage {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    top: -20px;
}

.staticPage {
    position: relative;
    top: -5.5vh;
    text-align: start;
    padding: 50px;
    padding-top: 30px;
    font-size: clamp(11px,2.5vw,25px);
}

.infoButtons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    right: 20px;
    width: 350px;
}

.cohortSelect {
    margin: 20px;
}

@media only screen and (max-width: 800px) {

	.aroundOnPage {
        top: 0px;
	}

    .staticPage {
        padding-top: 50px;
    }

    .infoButtons {
        width: 100%;
        right: 0px;
        justify-content: space-around;
        min-width: 270px;
        scale: .95;
    }
}
