.balls3D {
    width: 150px;
    height: 150px;
}

.MA-header {
    z-index: 1;
    position: absolute;
    top: -55px;
    padding: 5px 10px;
    border-radius: 16px;
    background: rgba(21, 21, 21, 0.65);
    backdrop-filter: blur(7.9px);
    -webkit-backdrop-filter: blur(7.9px);
    border: 1px solid rgba(21, 21, 21, 0.3);
}

#maLabels {
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

button.markAnthony {
    position: relative !important;
    top: 40px !important;
}

.instructions.portfolio {
    top: 38vh;
}

.marquee {
    -webkit-mask-image: linear-gradient(to left, transparent, black 5%, black 95%, transparent);
    mask-image: linear-gradient(to left, transparent, black 5%, black 95%, transparent);
    width: 98%;
}

@media only screen and (max-width: 800px) {
    .MA-header {
        top: -5vh;
        font-size: 24px;
    }

    .balls3D {
        width: 90px;
        height: 90px;
        top: 7vh !important;
        left: 50% !important;
        transform: translateX(-50%);
    }

    #maLabels {
        display: none !important;
    }

    .instructions.portfolio {
        top: 45vh;
    }
    
    .marquee {
        position: relative;
        top: 5vh;
        font-size: 10px;
    }
}